<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [3]:
# to find duplicates take your dataframe and run duplicated method
stored_duplicates = df.duplicated()

# now you can sum this new data
stored_duplicates.sum()

154

In [4]:
# You can shorten all this with one single line
df.duplicated().sum()

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [6]:
# this creates an objuect free of duplicates 
df.drop_duplicates()

# now I will create an object free of duplicates and save it
duplicate_free = df.drop_duplicates()

In [7]:
# or you can simply take the duplicates out of your dataframe with inplace
df.drop_duplicates(inplace=True)

Verify if duplicates were actually dropped.

In [8]:
# now I will count how many duplicates are left to test
df.duplicated().sum()

0

## Finding Missing values

Find the missing values for all columns.

In [9]:
# Pandas.isnull - This function takes a scalar or array-like object and indicates whether values are missing 
# (NaN in numeric arrays, None or NaN in object arrays, NaT in datetimelike)



# now i will use the Isnull function to find nan and na values 
# then I will use the sum function to count the missing values
df.isnull().sum()

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [11]:
# now we will use the isnull with the sum function on a single column

# this is how we can select a column - just use this syntax dataframe_name["column_name"] 
selected_column = df["WorkLoc"]

# now we can use the isnull with the sum function to find out how many rows are missing
selected_column.isnull().sum()

32

In [12]:
# we can clean this up and make it look better by putting it into one line
df["WorkLoc"].isnull().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [13]:
# now I will use the value count method
# the value count method Returns a Series containing counts of unique values

values_counts_workloc = df["WorkLoc"].value_counts()

# display 
values_counts_workloc

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [14]:
# Now we can use the (index max) indxmax  method on our new object
#to return the maximum (on the axis we want) 
values_counts_workloc.idxmax()

'Office'

In [15]:
# as always we could also shorten this down to one line
df["WorkLoc"].value_counts().idxmax()

'Office'

In [16]:
# now lets save that variable for later 
common_value = df["WorkLoc"].value_counts().idxmax()

# display
common_value

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [17]:
# To replace the NA and Nan Values we can use pandas fillna method
# the fillna method fills Na and Nan's with a value

df["WorkLoc"].fillna(value=common_value)
# this will create an object that has the Na and Nan values replaced with the common value "office"

0                                                  Home
1                                                Office
2                                                  Home
3                                                  Home
4        Other place, such as a coworking space or cafe
                              ...
11547                                              Home
11548                                              Home
11549                                            Office
11550                                              Home
11551                                            Office
Name: WorkLoc, Length: 11398, dtype: object

In [18]:
# now lets make those changes to our dataframe with inplace
df["WorkLoc"].fillna(value=common_value, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [19]:
# now we can check to make sure our changes worked
df["WorkLoc"].isnull().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [20]:
# you can easily get the categories with the value count method
df["CompFreq"].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

so to make a new column you can just use name_of_dataframe[name_of_column] = series`

In [21]:
# lets start with a function that can handle our logic 

def compensation_calc(frequency, compensation):
    yearly_compensation = 0    

    
    # we can just keep the yearly as is
    if frequency == "Yearly":        
        yearly_compensation = compensation        
        
    # now we have to multiply by 12 for the month   
    elif frequency == "Monthly":        
        yearly_compensation = compensation * 12        
        
    # now we have to multiply by 52 for the weeks  
    elif frequency == "Weekly":        
        yearly_compensation = compensation * 52

        
    return yearly_compensation

# The way I am going to do this is to make a list and add it to my dataframe

In [22]:
# with the itterrows we can itterarte through our dataframe
#(use head to save time)
for i, row in df.head(20).iterrows():
    
    #now lets move through each row and grab the values we need
    period = row["CompFreq"]
    payment = row["CompTotal"]
    
    
    # lets test with a print
    print (row["CompFreq"], row["CompTotal"])

Yearly 61000.0
Yearly 138000.0
Yearly 90000.0
Monthly 29000.0
Yearly 90000.0
Monthly 9500.0
Monthly 3000.0
Yearly 103000.0
Yearly 69000.0
Monthly 8000.0
Monthly 7000.0
Yearly 114000.0
Weekly 2000.0
Weekly 22000.0
Monthly 96000.0
Yearly 156000.0
Yearly 18000.0
Monthly 6400.0
Monthly 5000.0
Yearly 400000.0

In [23]:
# now I can test how these work together
for i, row in df.head(20).iterrows():
    period = row["CompFreq"]
    payment = row["CompTotal"]
    
    # we can run the caluclation on our data
    calc_result = compensation_calc(frequency=period, compensation=payment)
    
    # with this we can check with a statement
    print(f"This person is earns {payment, period}. That means they make {calc_result} a year")

This person is earns (61000.0, 'Yearly'). That means they make 61000.0 a year
This person is earns (138000.0, 'Yearly'). That means they make 138000.0 a year
This person is earns (90000.0, 'Yearly'). That means they make 90000.0 a year
This person is earns (29000.0, 'Monthly'). That means they make 348000.0 a year
This person is earns (90000.0, 'Yearly'). That means they make 90000.0 a year
This person is earns (9500.0, 'Monthly'). That means they make 114000.0 a year
This person is earns (3000.0, 'Monthly'). That means they make 36000.0 a year
This person is earns (103000.0, 'Yearly'). That means they make 103000.0 a year
This person is earns (69000.0, 'Yearly'). That means they make 69000.0 a year
This person is earns (8000.0, 'Monthly'). That means they make 96000.0 a year
This person is earns (7000.0, 'Monthly'). That means they make 84000.0 a year
This person is earns (114000.0, 'Yearly'). That means they make 114000.0 a year
This person is earns (2000.0, 'Weekly'). That means they make 104000.0 a year
This person is earns (22000.0, 'Weekly'). That means they make 1144000.0 a year
This person is earns (96000.0, 'Monthly'). That means they make 1152000.0 a year
This person is earns (156000.0, 'Yearly'). That means they make 156000.0 a year
This person is earns (18000.0, 'Yearly'). That means they make 18000.0 a year
This person is earns (6400.0, 'Monthly'). That means they make 76800.0 a year
This person is earns (5000.0, 'Monthly'). That means they make 60000.0 a year
This person is earns (400000.0, 'Yearly'). That means they make 400000.0 a year

In [24]:
# now I'm going to add it to a list to add to my dataframe

# first I will make a list
total_comp = []

#now I'm going to add my data to the list
for i, row in df.head(20).iterrows():
    period = row["CompFreq"]
    payment = row["CompTotal"]    
    calc_result = compensation_calc(frequency=period, compensation=payment)
    
    total_comp.append(calc_result)
    
print(total_comp)

[61000.0, 138000.0, 90000.0, 348000.0, 90000.0, 114000.0, 36000.0, 103000.0, 69000.0, 96000.0, 84000.0, 114000.0, 104000.0, 1144000.0, 1152000.0, 156000.0, 18000.0, 76800.0, 60000.0, 400000.0]

now I am going to shorten my code and run it on the whole frame

In [25]:
total_comp = []

for i, row in df.iterrows():   
    calc_result = compensation_calc(frequency=row["CompFreq"], compensation=row["CompTotal"])    
    total_comp.append(calc_result)

In [26]:
# then I will check my list to see if it matches my dataframe    
print(len(total_comp))
df.shape

11398

(11398, 85)

so to make a new column you can just use name_of_dataframe[name_of_column] = series`

In [27]:
total_comp = []

for i, row in df.iterrows():   
    calc_result = compensation_calc(frequency=row["CompFreq"], compensation=row["CompTotal"])    
    total_comp.append(calc_result)
    
df["NormalizedAnnualCompensation"] = total_comp

In [28]:
df.shape

(11398, 86)

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).