<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Visualization Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be focusing on the visualization of data.

The data set will be presented to you in the form of a RDBMS.

You will have to use SQL queries to extract the data.

## Objectives

In this lab you will perform the following:

*   Visualize the distribution of data.

*   Visualize the relationship between two features.

*   Visualize composition of data.

*   Visualize comparison of data.

<hr>

## Demo: How to work with database

Download database file.

In [2]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m4_survey_data.sqlite

'wget' is not recognized as an internal or external command,
operable program or batch file.

Connect to the database.

In [3]:
import sqlite3
conn = sqlite3.connect("m4_survey_data.sqlite") # open a database connection

Import pandas module.

In [4]:
import pandas as pd

## Demo: How to run an sql query

In [5]:
# print how many rows are there in the table named 'master'
QUERY = """
SELECT COUNT(*)
FROM master
"""

# the read_sql_query runs the sql query and returns the data as a dataframe
df = pd.read_sql_query(QUERY,conn)
df.head()

DatabaseError: Execution failed on sql '
SELECT COUNT(*)
FROM master
': no such table: master

## Demo: How to list all tables

In [6]:
# print all the tables names in the database
QUERY = """
SELECT name as Table_Name FROM
sqlite_master WHERE
type = 'table'
"""
# the read_sql_query runs the sql query and returns the data as a dataframe
pd.read_sql_query(QUERY,conn)

Empty DataFrame
Columns: [Table_Name]
Index: []

## Demo: How to run a group by query

In [7]:
QUERY = """
SELECT Age,COUNT(*) as count
FROM master
group by age
order by age
"""
pd.read_sql_query(QUERY,conn)

DatabaseError: Execution failed on sql '
SELECT Age,COUNT(*) as count
FROM master
group by age
order by age
': no such table: master

## Demo: How to describe a table

In [8]:
table_name = 'master'  # the table you wish to describe

QUERY = """
SELECT sql FROM sqlite_master
WHERE name= '{}'
""".format(table_name)

df = pd.read_sql_query(QUERY,conn)
print(df.iat[0,0])

IndexError: index 0 is out of bounds for axis 0 with size 0

# Hands-on Lab

## Visualizing distribution of data

### Histograms

Plot a histogram of `ConvertedComp.`

In [9]:
# your code goes here
QUERY="""SELECT ConvertedComp FROM master"""
df = pd.read_sql_query(QUERY,conn)
df.plot.hist()

DatabaseError: Execution failed on sql 'SELECT ConvertedComp FROM master': no such table: master

### Box Plots

Plot a box plot of `Age.`

In [10]:
# your code goes here
QUERY="""SELECT Age FROM master"""
df = pd.read_sql_query(QUERY,conn)
df.plot.box()

DatabaseError: Execution failed on sql 'SELECT Age FROM master': no such table: master

## Visualizing relationships in data

### Scatter Plots

Create a scatter plot of `Age` and `WorkWeekHrs.`

In [ ]:
# your code goes here
QUERY="""SELECT Age,WorkWeekHrs FROM master"""
df = pd.read_sql_query(QUERY,conn)
df.plot.scatter(x="Age", y="WorkWeekHrs");

### Bubble Plots

Create a bubble plot of `WorkWeekHrs` and `CodeRevHrs`, use `Age` column as bubble size.

In [ ]:
# your code goes here
QUERY="""SELECT Age,WorkWeekHrs,CodeRevHrs FROM master"""
df = pd.read_sql_query(QUERY,conn)
df.plot.scatter(x="WorkWeekHrs", y="CodeRevHrs", s=df["Age"] * 20);

## Visualizing composition of data

### Pie Charts

Create a pie chart of the top 5 databases that respondents wish to learn next year. Label the pie chart with database names. Display percentages of each database on the pie chart.

In [ ]:
# your code goes here

QUERY="""SELECT DatabaseDesireNextYear as DB,Count(DatabaseDesireNextYear) as ct
         FROM DatabaseDesireNextYear
         Group by 1
         Order by 2 desc
         limit 5
      """
df = pd.read_sql_query(QUERY,conn)
df.set_index('DB', inplace=True)
df['ct'].plot(kind='pie',
                            figsize=(5, 6),
                            autopct='%1.1f%%', # add in percentages
                            startangle=90,     # start angle 90° (Africa)
                            shadow=True,       # add shadow      
                            )
plt.title('Desired DB to learn next year')
plt.axis('equal') # Sets the pie chart to look like a circle.

### Stacked Charts

Create a stacked chart of median `WorkWeekHrs` and `CodeRevHrs` for the age group 30 to 35.

In [ ]:
# your code goes here
QUERY="""SELECT age,CodeRevHrs,WorkWeekHrs FROM master where age between 30 and 35"""
df = pd.read_sql_query(QUERY,conn)
df.set_index('Age', inplace=True)

df.groupby('Age').median().plot.bar(stacked=True)
plt.title('Median hours, by age')

## Visualizing comparison of data

### Line Chart

Plot the median `ConvertedComp` for all ages from 45 to 60.

In [ ]:
# your code goes here

QUERY="""SELECT age,ConvertedComp from master where age between 45 and 60"""
df = pd.read_sql_query(QUERY,conn)
df.set_index('Age', inplace=True)

df.groupby('Age').median().plot.line()
plt.title('Median hours, by age')

### Bar Chart

Create a horizontal bar chart using column `MainBranch.`

In [ ]:
# your code goes here

QUERY="""SELECT MainBranch, count(MainBranch) as ct_MainBranch 
         from master
         group by 1
      """
df = pd.read_sql_query(QUERY,conn)
df.set_index('MainBranch', inplace=True)
df.head()
df.plot.barh()
plt.title('Main Branch Count')

Close the database connection.

In [ ]:
conn.close()

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).